<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Write new Chat...</h3>
    <form style="display: flex; flex-direction: column; width: 300px; gap: 10px;">
        <input type="text" placeholder="who are you?" name="from">
        <textarea name="mssg">Write your message here...</textarea>
        <input type="text" placeholder="add reciever" name="to">
        <button>Create chat</button>
    </form>
</body>
</html>